

    <!-- ===============  gallary wrapper start =============== -->
    <div class="gallary-wrapper">
      <div class="container pt-110 position-relative">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-head">
              <h3>Gallery</h3>
            </div>
          </div>
        </div>

        <div class="gallary-group">
          <div class="gallary-group-header">
            <h4 class="gallary-group-title">Conference Gallery</h4>
            <div class="gallary-arrows text-center d-lg-block d-none">
              <div
                class="gallary-button-prev gallary-prev1"
                tabindex="0"
                role="button"
                aria-label="Previous slide"
              >
                <i class="bi bi-chevron-left"></i>
              </div>
              <div
                class="gallary-button-next gallary-next1"
                tabindex="0"
                role="button"
                aria-label="Next slide"
              >
                <i class="bi bi-chevron-right"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="swiper gallary-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/genz (1).jpeg"
                      alt="Image Gallery"
                    />
                    <a
                      class="gallary-item-overlay"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      href="assets/images/gallary/genz (1).jpeg"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/genz (2).jpeg"
                      alt="Image Gallery"
                    />
                    <a
                      href="assets/images/gallary/genz (2).jpeg"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      class="gallary-item-overlay"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/genz (3).jpeg"
                      alt="Image Gallery"
                    />
                    <a
                      href="assets/images/gallary/genz (3).jpeg"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      class="gallary-item-overlay"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/genz (4).jpeg"
                      alt="Image Gallery"
                    />
                    <a
                      href="assets/images/gallary/genz (4).jpeg"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      class="gallary-item-overlay"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/genz (6).jpeg"
                      alt="Image Gallery"
                    />
                    <a
                      href="assets/images/gallary/genz (6).jpeg"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      class="gallary-item-overlay"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/genz (7).jpeg"
                      alt="Image Gallery"
                    />
                    <a
                      href="assets/images/gallary/genz (7).jpeg"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      class="gallary-item-overlay"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gallary-group mt-110">
          <div class="gallary-group-header">
            <h4 class="gallary-group-title">Eventlab Gallery</h4>
            <div class="gallary-arrows text-center d-lg-block d-none">
              <div
                class="gallary-button-prev gallary-prev2"
                tabindex="0"
                role="button"
                aria-label="Previous slide"
              >
                <i class="bi bi-chevron-left"></i>
              </div>
              <div
                class="gallary-button-next gallary-next2"
                tabindex="0"
                role="button"
                aria-label="Next slide"
              >
                <i class="bi bi-chevron-right"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="swiper gallary-slider2">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/technofest (4).jpg"
                      alt="Image Gallery"
                    />
                    <a
                      class="gallary-item-overlay"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      href="assets/images/gallary/technofest (4).jpg"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/technofest (2).jpg"
                      alt="Image Gallery"
                    />
                    <a
                      href="assets/images/gallary/technofest (2).jpg"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      class="gallary-item-overlay"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/technofest (3).jpg"
                      alt="Image Gallery"
                    />
                    <a
                      href="assets/images/gallary/technofest (3).jpg"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      class="gallary-item-overlay"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/technofest (1).jpg"
                      alt="Image Gallery"
                    />
                    <a
                      href="assets/images/gallary/technofest (1).jpg"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      class="gallary-item-overlay"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/technofest (5).jpg"
                      alt="Image Gallery"
                    />
                    <a
                      href="assets/images/gallary/technofest (5).jpg"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      class="gallary-item-overlay"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/technofest (6).jpg"
                      alt="Image Gallery"
                    />
                    <a
                      href="assets/images/gallary/technofest (6).jpg"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      class="gallary-item-overlay"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                  <div class="gallary-item">
                    <img
                      src="assets/images/gallary/technofest (7).jpg"
                      alt="Image Gallery"
                    />
                    <a
                      href="assets/images/gallary/technofest (7).jpg"
                      data-fancybox="gallery"
                      data-caption="Caption Here"
                      class="gallary-item-overlay"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ===============  gallary wrapper end =============== -->