
    <!-- ===============  breadcrumb area start =============== -->
    <div class="breadcrumb-area">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-lg-12">
            <div class="breadcrumb-content">
              <div class="page-outlined-text">
                <h1>Speaker</h1>
              </div>
              <h2 class="page-title">Speaker</h2>
              <ul class="page-switcher">
                <li>
                  <a href="index.html"
                    >Home <i class="bi bi-caret-right"></i
                  ></a>
                </li>
                <li>Speaker</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ===============  breadcrumb area end =============== -->

    <div class="speakers-wrapper">
      <div class="container position-relative pt-110">
        <div class="row">
          <div class="col-lg-12">
            <div class="background-title text-style-one">
              <h2>Speakers</h2>
            </div>
            <div class="section-head">
              <h3>valuable person</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="speaker-card">
              <div class="speaker-image">
                <img src="assets/images/speaker/speaker-1.png" alt="" />
                <ul class="speaker-social-icons">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                  </li>
                </ul>
              </div>
              <div class="speaker-info">
                <h5 class="speaker-name">
                  <a href="speaker-details.html">Santiago Axel</a>
                </h5>
                <p>Senio Visual Designer</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="speaker-card">
              <div class="speaker-image">
                <img src="assets/images/speaker/speaker-2.png" alt="" />
                <ul class="speaker-social-icons">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                  </li>
                </ul>
              </div>
              <div class="speaker-info">
                <h5 class="speaker-name">
                  <a href="speaker-details.html">Victoria Lily</a>
                </h5>
                <p>Marketing</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="speaker-card">
              <div class="speaker-image">
                <img src="assets/images/speaker/speaker-3.png" alt="" />
                <ul class="speaker-social-icons">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                  </li>
                </ul>
              </div>
              <div class="speaker-info">
                <h5 class="speaker-name">
                  <a href="speaker-details.html">Jacob Logan</a>
                </h5>
                <p>CEO & Founder</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="speaker-card">
              <div class="speaker-image">
                <img src="assets/images/speaker/speaker-4.png" alt="" />
                <ul class="speaker-social-icons">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                  </li>
                </ul>
              </div>
              <div class="speaker-info">
                <h5 class="speaker-name">
                  <a href="speaker-details.html">Santiago Axel</a>
                </h5>
                <p>Senio Visual Designer</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="speaker-card">
              <div class="speaker-image">
                <img src="assets/images/speaker/speaker-5.png" alt="" />
                <ul class="speaker-social-icons">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                  </li>
                </ul>
              </div>
              <div class="speaker-info">
                <h5 class="speaker-name">
                  <a href="speaker-details.html">John Smith</a>
                </h5>
                <p>Marketing</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="speaker-card">
              <div class="speaker-image">
                <img src="assets/images/speaker/speaker-6.png" alt="" />
                <ul class="speaker-social-icons">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                  </li>
                </ul>
              </div>
              <div class="speaker-info">
                <h5 class="speaker-name">
                  <a href="speaker-details.html">Scarlett Eleanor</a>
                </h5>
                <p>Business Manager</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="speaker-card">
              <div class="speaker-image">
                <img src="assets/images/speaker/speaker-7.png" alt="" />
                <ul class="speaker-social-icons">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                  </li>
                </ul>
              </div>
              <div class="speaker-info">
                <h5 class="speaker-name">
                  <a href="speaker-details.html">Sebastian Mateo</a>
                </h5>
                <p>Business Manager</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="speaker-card">
              <div class="speaker-image">
                <img src="assets/images/speaker/speaker-8.png" alt="" />
                <ul class="speaker-social-icons">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                  </li>
                </ul>
              </div>
              <div class="speaker-info">
                <h5 class="speaker-name">
                  <a href="speaker-details.html">Willow Lucy</a>
                </h5>
                <p>Business Manager</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="speaker-card">
              <div class="speaker-image">
                <img src="assets/images/speaker/speaker-9.png" alt="" />
                <ul class="speaker-social-icons">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                  </li>
                </ul>
              </div>
              <div class="speaker-info">
                <h5 class="speaker-name">
                  <a href="speaker-details.html">Hannah Emilia</a>
                </h5>
                <p>Business Manager</p>
              </div>
            </div>
          </div>

          <div class="custom-pagination text-center">
            <ul class="page-list">
              <li class="has-arrow">
                <a href="#"><i class="bi bi-chevron-left"></i></a>
              </li>
              <li><a href="#" class="active-page">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li class="has-arrow">
                <a href="#"><i class="bi bi-chevron-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- ===============  footer area start  =============== -->
    <div class="footer-area mt-120">
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-watermark">
            <h1>Footer</h1>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-5 order-1">
              <div class="footer-widget mt-0">
                <h5 class="footer-widget-title">Quick Link</h5>
                <div class="footer-links">
                  <ul class="link-list">
                    <li>
                      <a href="about.html" class="footer-link">About Us</a>
                    </li>
                    <li><a href="event.html" class="footer-link">Event</a></li>
                    <li>
                      <a href="schedule.html" class="footer-link">Schedule</a>
                    </li>
                    <li><a href="#" class="footer-link">Our Support</a></li>
                    <li>
                      <a href="speaker.html" class="footer-link">Speaker</a>
                    </li>
                    <li>
                      <a href="#sponsor-area" class="footer-link">Sponsor</a>
                    </li>
                    <li><a href="blog.html" class="footer-link">Blog</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-3">
              <div class="footer-newslatter-wrapper text-center">
                <h3>Subscribe Our Newsletter</h3>
                <h5>Don’t Miss Our Feature Update</h5>

                <form class="newslatter-form" action="#" id="newslatter-form">
                  <div class="newslatter-input-group d-flex">
                    <input type="email" placeholder="Enter Your Email" />
                    <button type="submit">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7 order-lg-3 order-2">
              <div class="footer-widget">
                <h5 class="footer-widget-title">Contact</h5>
                <div class="footer-links">
                  <ul class="link-list">
                    <li class="contact-box">
                      <div class="contact-icon">
                        <i class="bi bi-telephone-plus"></i>
                      </div>
                      <div class="contact-links">
                        <a href="tel:+17632275032">+1 763-227-5032</a>
                        <a href="tel:+17632275032">+1 763-227-5032</a>
                      </div>
                    </li>
                    <li class="contact-box">
                      <div class="contact-icon">
                        <i class="bi bi-envelope-open"></i>
                      </div>
                      <div class="contact-links">
                        <a
                          href="https://demo.egenslab.com/cdn-cgi/l/email-protection#60090e060f200518010d100c054e030f0d"
                          ><span
                            class="__cf_email__"
                            data-cfemail="553c3b333a15302d34382539307b363a38"
                            >[email&#160;protected]</span
                          ></a
                        >
                        <a
                          href="https://demo.egenslab.com/cdn-cgi/l/email-protection#88fbfdf8f8e7fafcc8edf0e9e5f8e4eda6ebe7e5"
                          ><span
                            class="__cf_email__"
                            data-cfemail="83f0f6f3f3ecf1f7c3e6fbe2eef3efe6ade0ecee"
                            >[email&#160;protected]</span
                          ></a
                        >
                      </div>
                    </li>
                    <li class="contact-box">
                      <div class="contact-icon">
                        <i class="bi bi-geo-alt"></i>
                      </div>
                      <div class="contact-links">
                        <a href="#">2752 Willison Street Eagan, United State</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="row align-items-center text-center">
            <div class="col-lg-5 order-3 order-lg-1">
              <div class="footer-copyright">
                <p>
                  Copyright 2021 Event Lab | Design By <a href="#">Egens Lab</a>
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 order-1 order-lg-2">
              <div class="footer-logo">
                <a href="#"><img src="assets/images/logo-v2.png" alt="" /></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 order-2 order-lg-3">
              <ul
                class="d-flex footer-social-links justify-content-lg-end justify-content-center"
              >
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-whatsapp"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>